<%= link_to movie do %>
  <div class="w-full h-64 bg-gray-300 rounded-lg">
    <%= image_tag(movie.video_file.preview(resize_to_limit: [300, 300]).processed.url, class: "h-40 w-full object-cover") %>
    <span class="text-2xl"> <%= movie.title %> </span>
    <%= movie.description %>
  </div>
<% end %>