<div class="w-full min-h-[100vh] bg-blue-500 flex flex-col items-center justify-center pb-36">
  <h1 class="font-bold text-7xl text-transparent bg-clip-text bg-gradient-to-r from-indigo-800 to-pink-500"> Netflix 2.0 </h1>
  <p class="text-xl text-indigo-200 mb-4">Stream the best movies and tv shows available </p>
  <div class="flex gap-4 items-center">
    <%= link_to "Sign in", new_user_session_path, class: "bg-pink-500 text-pink-100 p-2 rounded-full w-32 text-center" %>
    <%= link_to "or Create Account", new_user_session_path, class: "text-green-100 p-2 rounded-full" %>
  </div>
</div>
